data/benign_source
data/malicious_source
data/jast_training/test
data/jast_training/train
node_modules
output
package_names
package-lock.json
__pycache__
*.pyc
errors
malicious_packages
*.log
typosquatting/.sequence
typosquatting/_all_docs.json
typosquatting/watcher_output.csv